Proyecto.Biodigestor/obj/
Proyecto.Biodigestor/bin/
Proyecto.Biodigestor/obj/Debug/net8.0/
.vs/Biodigestor_Backend/*
.vs/Biodigestor_Backend/FileContentIndex/*
.vs/Biodigestor_Backend/FileContentIndex/7c7716d1-2dd3-4771-a263-034b9eaf0521.vsidx
.vs/*